</div><footer>
<img src="/img/full-logo.png" class="footer-logo"/>
<p class="footer-copyright">
Copyright © Company name 2016 | Web Design & Development Site by <a href="http://www.andrewwelch.info">Andy Welch</a>
</p>
</footer>