{% include 'admin_header.twig' %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-9 col-md-10  main">
			<h1>Tours</h1>
			<h3>Add a tour</h3>
			<form action="/admin/tour/new" method="POST">
				<input autofocus type="text" name="name" value=""></input>
			</form>
			<table class="table table-bordered">
				<tbody>
					{% for item in data %}
						<tr id="item-{{item.id}}">
							<td><a href="tour/{{item.id}}">{{item.name}}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% include 'sidebar.twig' %}
	</div>
</div>
{% include 'admin_footer.twig' %}