<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://dublincore.org/documents/2008/08/04/dc-html/">
<link rel="icon" type="image/vnd.microsoft.icon"   href="/img/favicon.ico">
<title><?php (isset($page_title)) ? print $page_title : print SITENAME . ' | site description'; ?></title>


<!--meta-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta charset="utf-8">

<meta name="google-translate-customization" content="df2b915bc1993462-47759167e1abbfbd-gafe1ae8baba467ee-14"></meta>



<!--scripts-->
<script src="/js/jquery-2.1.1.min.js"></script>

<script src="/js/jquery-ui.min.js"></script>

<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.bcSwipe.min.js"></script>

<script type="text/javascript" src="/resources/colorbox/jquery.colorbox-min.js"></script>

<script type="text/javascript" src="/js/jquery.backstretch.min.js"></script>

<script src="/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>

<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/js/custom-js.js"></script>

<script src="/bower_components/shufflejs/dist/modernizr.custom.min.js"></script>

<script src="/bower_components/shufflejs/dist/jquery.shuffle.js"></script>



<!--links-->
<link href="/css/styles.css" media="screen, projection" rel="stylesheet" type="text/css">

<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/resources/UberGallery.css" />

<link rel="stylesheet" type="text/css" href="/resources/colorbox/1/colorbox.css" />

<link href='/css/jqueryuiflat.css' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.10.4.custom.css">

</head>
<body>